

.button {
    padding: 0.5em 1.5em;
    text-align: center;
    border: none;
    font: inherit;
    cursor: pointer;
    margin: 0 auto;
    outline: inherit;
    border-radius: 0.5em;
    box-shadow: 1px 1px 0px 1px hsl(193, 86%, 45%);
    background: hsl(193, 98%, 53%);
}

.inactive {
    cursor:default;
    filter: opacity(0.5);
}

.center {
    text-align: center;
}