@use '../../../shared.scss' as *;



.navbar {
    height: $navbar-height;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: var(--navbar-color);
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 0 1em;
    box-shadow: 0 0 1px 1px var(--theme-color);
    
    .home-dropdown-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--body-text-color);
        flex: 1;
        gap: 0.4em;
        margin-left: 0.8em;
        padding: 0.3em 0.4em;
        border: 1px solid transparent;
        border-radius: 0.3em;
        cursor: pointer;
        user-select: none;

        &:hover {
            border: 1px solid var(--section-border-color);
        }

        .navbar__home-text {
            font-size: 0.85em;
        }
    }

    .navbar__spacer {
        flex-grow: 1;
    }
    
    .navbar__icon {
        font-size: 1.5em;
    }

    .navbar__actions {
        display: flex;
        gap: 5px;
    }
    .navbar__action {
        padding: 0.2em;
        border-radius: 15%;
        cursor: pointer;
        font-size: 2em;
        color: var(--navbar-icon-button-color);

        &:hover {
            background-color: var(--navbar-icon-button-hover-color);
        }
    }

    

    .navbar__action--circle {
        padding: 0.2em;
        border-radius: 50%;
        color: var(--text-color);
        cursor: pointer;
        font-size: 2em;

        &.highlighted {
            background-color: var(--navbar-icon-button-hover-color);
        }

        &:hover {
            background-color: hsla(0, 0%, 60%, 0.4);
        }
    }
    
    .navbar__link {
        color: hsl(0, 0%, 90%);
        text-decoration: none;
    }

    .navbar__home-text {
        display: none;
        @media screen and (min-width: 992px) {
            display: block;
        }
    }
}

.wrapped-children {
    margin-top: $navbar-height + 1em;
}