.navbar__logo {
    text-decoration: none;
    color: hsl(0, 0%, 80%);
}

.logo {
    color: orangered;
    font-size: 2em;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo-container::before {
    content: '';
    position: absolute;
    background-color: white;
    width: 65%;
    height: 65%;
    z-index: -1;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo-text {
    margin-left: 0.3em;
}