.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.1em 0.3em;
    border: 1px solid transparent;
    border-radius: 0.3em;
    cursor: pointer;
    
    &:hover {
        border: 1px solid hsl(0, 0%, 30%)
    }

    .chevron {
        font-size: 0.8em;
        color: hsl(0, 0%, 50%);
    }
}