@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto';
    background-color: #121212;
    color: hsl(0, 0%, 80%);
    font-size: 0.7em;
}

* {
    margin: 0;
    box-sizing: border-box;
}

/* non-mobile */
@media (min-width:320px)  {
    body {
        font-size: 1em;
    }
}