@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    
}

html {
    overflow-x: hidden;
}
body {
    font-family: 'Roboto';
    color: hsl(0, 0%, 80%);
    font-size: 1em;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
